copy_readsfile
copy_readsfile.o
reads_sorting
reads_sorting.o
reverse_order
reverse_order.o
example/badread_lambdavirus_ont_50X_desorted.fasta
example/badread_lambdavirus_ont_50X_reverse_order.txt
example/badread_lambdavirus_ont_50X_sorted.fasta
.vscode/